.purple {
  color: #915eff;
}

.black {
  color: black;
}

.header{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header .header-links{
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.header h1{
  display: flex;
  margin-left: 0px;
  font-size: 32px;
  font-family: Coiny;
}